= render partial: 'layouts/menu', locals: { home: false }
- @buildings.each do |building|
  .zen-space{class: building.name.split.last.downcase}
    .zen-space__head
      = building.name
    - if building.spaces.present?
      .zen-space__title
        Wolne lokale
      .zen-space__details
        .title
          Poziom
          - building.spaces.each do |space|
            .level
              = space.floor == 0 ? 0 : RomanNumerals.to_roman(space.floor)
        .title
          Metraż
          - building.spaces.each do |space|
            .area
              = "#{space.available}m"
              %sup> 2
      .zen-space__total
        .title
          Powierzchnia całkowita budynku
        .value
          = "#{building.spaces.sum(:total)}m"
          %sup> 2
    - if building.space_details.present?
      .zen-space__description
        = building.space_details
