.zen-gate
  .zen-gate__title
    = t "buildings.#{building}.name"
  .zen-gate__description
    = t "buildings.#{building}.description"
  .zen-gate__actions
    .zen-gate__button.spaces{'data-type' => 'space', 'data-building' => building}
      %span.icon
    .zen-gate__button.gallery{'data-type' => 'gallery', 'data-building' => building}
      %span.icon
    %a.zen-gate__button.blueprint{'data-type' => 'blueprint', 'data-building' => building, href: 'assets/orchid-1.pdf', target: 'blank'}
      %span.icon
    .zen-gate__tooltip.transparent{'data-type' => 'space'}
      = t "buildings.button.spaces"
    .zen-gate__tooltip.transparent{'data-type' => 'gallery'}
      = t "buildings.button.gallery"
    .zen-gate__tooltip.transparent{'data-type' => 'blueprint'}
      = t "buildings.button.blueprint"
